<meta name='viewport' content='width=device-width, initial-scale=1'/>

<div class="profile">
    {{#each user}}
        {{#if @first }}
                    
        {{#if (loadImages)}}
        <img src="{{this.avatar}}" height="50px" width="50px"/> 
        {{/if}}
        <a href="/profile/{{this.handle}}">{{this.handle}}</a>

        {{#isEqual this.viewer.following mainProfile}}
              <form action="/follow" method="post"> 

                <input name="did" type="hidden" value="{{this.did}}" />
                <button type="submit"> Follow </button>           

            </form>
        {{/isEqual}}
        
        {{#isNotEqual this.viewer.following mainProfile }}
            {{#containsUser mainProfile this.viewer.following }}
 
                <form action="/unfollow" method="post"> 

                    <input name="did" type="hidden" value="{{this.did}}" />
                    <button type="submit"> Unfollow </button>           

                </form>   
            {{/containsUser}}

        {{/isNotEqual}}



        

        
        
        <small> Biography: {{this.description}}</small>
        {{/if}}
    
    {{/each}}

</div>





<div class="feed">
    {{#each posts}}
    <br> </br>
    {{#if this.reason}}
    
        <p> Reposted by: {{this.reason.by.handle}} </p>
        
    {{/if}}


    {{#if this.reply}}
    
         <p> Reply to: {{this.reply.parent.author.handle}} </p>
        
    {{/if}} 
    
    {{#if (loadImages)}}
        <img src="{{this.post.author.avatar}}" height="50px" width="50px"/>
    {{/if}}
    
    <a href="/profile/{{this.post.author.handle}}">{{this.post.author.handle}}</a>

	<p> {{this.post.record.text}} </p>
    
    {{#each this.post.record.facets}}
        <a href="{{{detectLinks this}}}">{{{detectLinks this}}}</a>
    {{/each}}    
    
        {{#if this.post.record.labels}}
            <p> WARNING: graphic/adult content </p>
        {{else}}
		{{#if this.post.embed}}
            {{#each this.post.embed.images}}
            {{#if (loadImages)}}
              <div class="embed" style="width: 150px; height: 150px">
                <img src="{{this.thumb}}" alt="{{this.alt}}" width="100%" height="100%">
            </div>
            {{else}}
             {{#if this.alt includeZero=false}}
                <p> Image Description: {{this.alt}} </p>
             {{/if}}
            {{/if}}

  {{/each}}  {{/if}} {{/if}}


  <p> {{this.post.likeCount}} likes </p>
  <p> {{this.post.replyCount}} replies </p>
  <p> {{this.post.repostCount}} reposts </p>

  {{#if this.post.uri}}
    <form action="/like" method="post" name="uri">
        <input name="uri" type="hidden" value="{{this.post.uri}}" />
        <input name="cid" type="hidden" value="{{this.post.cid}}" /> 
        <button type="submit"> Like </button>
    </form>

    <form action="/repost" method="post" name="uri"> 
        <input name="uri2" type="hidden" value="{{this.post.uri}}" />
        <input name="cid2" type="hidden" value="{{this.post.cid}}" />
        <button type="submit"> Repost </button>
    </form>

    <form action="/reply" method="post" name="uri"> 
        <input name="uri3" type="hidden" value="{{this.post.uri}}" />
        <input name="cid3" type="hidden" value="{{this.post.cid}}" />
        <label>Reply</label>
        <input class="i" id="status" maxlength="300" name="bodytext2" type="text" /><br />       
        <button type="submit"> Reply </button>
    </form>
  {{/if}}


    {{#if @last}}
        <form class="notthefirst" action="/profile/{{this.post.author.handle}}/{{this.post.indexedAt}}" method="get"> 
        <button type="submit">Next Page</button>
        </form>
    {{/if}}
  
    {{/each}}

</div>

