<meta name='viewport' content='width=device-width, initial-scale=1'/>

<div class="profile">
    {{#each user}}
        {{#if @first }}
                    <br> </br>
        <img src="{{this.avatar}}" height="50px" width="50px"/> 
    
        <a href="/profile/{{this.handle}}">{{this.handle}}</a>

        {{#isEqual this.viewer.following mainProfile}}
              <form action="/follow" method="post"> 

                <input name="did" type="hidden" value="{{this.did}}" />
                <button type="submit"> Follow </button>           

            </form>
        {{/isEqual}}
        
        {{#isNotEqual this.viewer.following mainProfile }}
            {{#containsUser mainProfile this.viewer.following }}
 
                <form action="/unfollow" method="post"> 

                    <input name="did" type="hidden" value="{{this.did}}" />
                    <button type="submit"> Unfollow </button>           

                </form>   
            {{/containsUser}}

        {{/isNotEqual}}



        

        
        <br> </br>
        <small> Biography: {{this.description}}</small>
        {{/if}}
    
    {{/each}}

</div>





<div class="feed">
    {{#each posts}}
    <br> </br>
    {{#if this.reason}}
    
        <p> Reposted by: {{this.reason.by.handle}} </p>
        
    {{/if}}


    {{#if this.reply}}
    
         <p> Reply to: {{this.reply.parent.author.handle}} </p>
        
    {{/if}} 
    

    <img src="{{this.post.author.avatar}}" height="50px" width="50px"/>
    
    <a href="/profile/{{this.post.author.handle}}">{{this.post.author.handle}}</a>

	<p> {{this.post.record.text}} </p>
		{{#if this.post.embed}}
            {{#each this.post.embed.images}}
              <div class="embed" style="width: 150px; height: 150px">
                <img src="{{this.thumb}}"alt={{this.alt}} width="100%" height="100%">
            </div>
  {{/each}}  {{/if}}

    {{#if @last}}
        <form class="notthefirst" action="/profile/{{this.post.author.handle}}/{{this.post.indexedAt}}" method="get"> 
        <button type="submit">Next Page</button>
        </form>
    {{/if}}
  
    {{/each}}

</div>

